@use 'base/variables' as v;
@use 'base/mixins' as m;


.acciones {
    margin-top: 3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4rem;
    @include m.tablet {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    a {
        color: v.$blanco;
        border-bottom: 1px solid v.$blanco; 
    }
}