@use 'base/variables' as v;
@use 'base/mixins' as m;


.listado-servicios {
    display: grid;
    gap: 2rem;
    

    @include m.tablet {
        @include m.grid(2, 2rem);
    }
    .servicio {
        background: v.$blanco;
        border-radius: 1rem;
        color: v.$negro;
        transition: transform .2s ease;
        user-select: none;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        &.seleccionado {
            background: v.$azul;
            
            p {color: v.$blanco;}
        }
        

        .precio-servicio {
            color: v.$azul;
            font-weight: v.$bold;
        }
    }
}